<script src="https://giscus.app/client.js"
        data-repo="mutex00/starlight"
        data-repo-id="R_kgDOQL1DEQ"
        data-category="General"
        data-category-id="DIC_kwDOQL1DEc4CxWVM"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://mutex00.github.io/starlight/giscus_light.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>